<section class="container">
    <div class="row oe_spaced">
        <h2 class="oe_slogan" style="">Partner Copy Address</h2>
        <h3 class="oe_slogan">Easy copy partner address into clipboard and paste it anywhere.</h3>
        <ul>
            <li>open partner form</li>
            <li>click button "Copy Address"</li>
            <li>paste everywhere you need</li>
        </ul>
        <div class="col-md-12 oe_demo oe_screenshot">
            <img src="partner_copy_address_01.png">
        </div>
    </div>
</section>
